permissions:
  contents: write
  packages: write
name: Build and Release
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install system dependencies (required for the sounds in the game)
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libasound2-dev

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Build binaries
        run: |
          mkdir -p dist
          GOOS=linux GOARCH=amd64 go build -o dist/spaceinvaders-game-linux main.go
          GOOS=windows GOARCH=amd64 go build -o dist/spaceinvaders-game-windows.exe main.go
          GOOS=darwin GOARCH=amd64 go build -o dist/spaceinvaders-game-mac main.go

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*"
          tag: ${{ github.ref }}

